In [1]:
import pandas as pd

In [2]:
sales_data = {
    'Item': ['Butter', 'Cream', 'Eggs', 'Milk', 'Chocolate'],
    'Sales': [20000, 15000, 35000, 45000, 40000],
    'Year': [2010, 2011, 2012, 2013, 2014],
    'Rank': [2, 3, 1, 1, 2],
}

df = pd.DataFrame(sales_data)

print(df)

        Item  Sales  Year  Rank
0     Butter  20000  2010     2
1      Cream  15000  2011     3
2       Eggs  35000  2012     1
3       Milk  45000  2013     1
4  Chocolate  40000  2014     2

In [3]:
print(df.shape)

(5, 4)

In [4]:
print(df.head(4))

     Item  Sales  Year  Rank
0  Butter  20000  2010     2
1   Cream  15000  2011     3
2    Eggs  35000  2012     1
3    Milk  45000  2013     1

In [5]:
print(df.describe())

              Sales         Year     Rank
count      5.000000     5.000000  5.00000
mean   31000.000000  2012.000000  1.80000
std    12942.179106     1.581139  0.83666
min    15000.000000  2010.000000  1.00000
25%    20000.000000  2011.000000  1.00000
50%    35000.000000  2012.000000  2.00000
75%    40000.000000  2013.000000  2.00000
max    45000.000000  2014.000000  3.00000

In [6]:
print(df.groupby('Rank').size())

Rank
1    2
2    2
3    1
dtype: int64